<style>
    /* Custom styling for the header */

    .sticky-bar {
        height: 70px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: -5;
        z-index: 100;
    }

    .header-wrap {
        height: 100%;
        padding: 0 15px;
    }

    .my-logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    .header-nav {
        align-items: center;
    }

    .main-menu {
        margin-left: auto;
    }
</style>

<body>
    {{!-- <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-10">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<main class="main">
    <div class="page-header mt-30">
        <div class="container">
            <div class="breadcrumb">
                <span></span> Home
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 mt-30">
                    {{#if message}}
    <div class="alert alert-warning alert-dismissible fade  show text-center mx-auto" role="alert">
        <strong>{{message.message}}</strong>
        <button type="button" class=" btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
            </div>
        </div>
    </div>


    {{#if products}}
    <section class="container">
        <div class="row product-grid-4">
            {{#each products}}
            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="/product-view?id={{this._id}}">
                                <img class="default-img" src="/uploads/{{product_image.[0]}}">
                                <img class="hover-img" src="/uploads/{{product_image.[1]}}">
                            </a>
                        </div>
                        <div class="product-action-1">
                            {{!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                                data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> --}}
                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                onclick="addToWishList('{{this._id}}')"><i class="fi-rs-heart"></i></a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <h2><a href="/product-view?id={{item._id}}">{{product_name}}</a></h2>
                        <div class="rating-result" title="${item.rating}%">
                            <span></span>
                        </div>
                        <div class="product-price">
                            <span>₹{{deal_price}}</span>
                            <span class="old-price">{{product_price}}</span>
                        </div>
                        <div class="product-action-1 show">
                            <button onclick="addToCart('{{_id}}')" aria-label="Add To Cart"
                                class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}

        </div>

    </section>

    {{/if}}
    <section class="banner-2 section-padding pb-0 mt-30 mb-40">
        <div class="container">
            <div class="banner-img banner-big wow fadeIn animated f-none">
                <img src="assets/imgs/banner/banner-4.png" alt="">
                <div class="banner-text d-md-block d-none">
                    <h4 class="mb-15 mt-40 text-brand">FashionFusion</h4>
                    <h2 class="fw-600 mb-20">Style Unleashed<br>Your Destination for Fashion Excellence</h2>
                    <a href="/shop" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-categories section-padding mt-20 mb-25">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">
                    {{#each categories}}
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="/shop?category={{this.category_name}}"><img src="/thumbnails/{{this.thumbnail}}"
                                    alt=""></a>
                        </figure>
                        <h5><a style="text-decoration: none;" href="/shop?category={{this.category_name}}">{{this.category_name}}</a></h5>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <section class="banners mb-15 mt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="assets/imgs/banner/banner-1.png" alt="">
                        <div class="banner-text">
                            <span>Smart Offer</span>
                            <h4>Save 25% on <br>Woman Bag</h4>
                            <a href="/shop?category=BAGS">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="assets/imgs/banner/banner-2.png" alt="">
                        <div class="banner-text">
                            <span>Sale off</span>
                            <h4>Great Summer <br>Collection</h4>
                            <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img wow fadeIn animated  mb-sm-0">
                        <img src="assets/imgs/banner/banner-3.png" alt="">
                        <div class="banner-text">
                            <span>New Arrivals</span>
                            <h4>Shop Today’s <br>Deals & Offers</h4>
                            <a href="shop?sortBy=product_price">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{#if newArrivals}}
    <section class="section-padding">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                </div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    {{#each newArrivals}}
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="/product-view?id={{this._id}}">
                                    <img class="default-img" src="/uploads/{{product_image.[0]}}" alt="">
                                    <img class="hover-img" src="/uploads/{{product_image.[1]}}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal">
                                    <i class="fi-rs-eye"></i></a>
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                    onclick="addToWishList('{{this._id}}')" tabindex="0"><i class="fi-rs-heart"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="hot">Hot</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="/product-view?id={{this._id}}">{{product_name}}</a></h2>
                            <div class="rating-result" title="90%">
                                <span>
                                </span>
                            </div>
                            <div class="product-price">
                                <span>₹ {{product_price}} </span>
                                <span class="old-price">₹ {{deal_price}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!--End product-cart-wrap-2-->
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="deals section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 deal-co">
                    <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
                        style="background-image: url('assets/imgs/banner/menu-banner-8.jpg');">
                        <div class="deal-top">
                            <h2 class="text-brand">Deal of the Day</h2>
                            <h5>Limited quantities.</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="/shop">Summer Collection New Morden
                                    Design</a></h6>
                            <div class="product-price"><span>Items in affordable price</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Hurry Up! Offer End In:</p>
                            <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                            <a href="/shop?sortBy=price" class="btn hover-up">Shop Now <i
                                    class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col-lg-6 deal-co">
                    <div class="deal wow fadeIn animated"
                        style="background-image: url('assets/imgs/banner/menu-banner-8.jpg');">
                        <div class="deal-top">
                            <h2 class="text-brand">Men Clothing</h2>
                            <h5>Shirt & Bag</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="shop-product-right.html">Try something new on
                                    vacation</a></h6>
                            <div class="product-price"><span class="new-price">$178.00</span><span
                                    class="old-price">$256.99</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Hurry Up! Offer End In:</p>
                            <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                            <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i
                                    class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                </div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-1.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-2.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-4.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-5.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-6.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
            {{#if topSoldProducts}}

    <section class="bg-grey-9 section-padding">
        <div class="container pt-25 pb-25">
            <div class="heading-tab d-flex">
                <div class="heading-tab-left wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 d-none d-lg-flex">
                    <div class="banner-img style-2 wow fadeIn animated">
                        <img src="assets/imgs/banner/banner-9.jpg" alt="">
                        <div class="banner-text">
                            <span>Best Ones</span>
                            <h4 class="mt-5">Save 17% on <br>Clothing</h4>
                            <a href="/shop" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel"
                            aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                    id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    {{#each topSoldProducts}}
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/product-view?id={{_id}}">
                                                    <img class="default-img" src="/uploads/{{this.image1}}" alt="">
                                                    <img class="hover-img" src="/uploads/{{this.image2}}" alt="">
                                                </a>
                                            </div>

                                            <div class="product-action-1">
                                                {{!-- <a aria-label="Quick view" class="action-btn small hover-up"
                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                    <i class="fi-rs-eye"></i>
                                                </a> --}}
                                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                    onclick="addToWishList('{{_id}}')">
                                                    <i class="fi-rs-heart"></i>
                                                </a>

                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                {{#if isHot}}
                                                <span class="hot">Hot</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/shop?category={{category}}">{{category}}</a>
                                            </div>
                                            <h2><a href="{{productUrl}}">{{name}}</a></h2>
                                            <div class="product-price">
                                                <span> ₹ {{newPrice}}</span>
                                                {{#if oldPrice}}
                                                <span class="old-price"> ₹ {{oldPrice}}</span>
                                                {{/if}}
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="/add-to-cart?id={{_id}}">
                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <!--End tab-pane-->
                    </div>
                    <!--End tab-content-->
                </div>
                <!--End Col-lg-9-->
            </div>
        </div>
    </section>
            {{/if}}

    <section class="mb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-bg wow fadeIn animated mt-30"
                        style="background-image: url('assets/imgs/banner/banner-8.jpg')">
                        <div class="banner-content">
                            <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                            <h2 class="fw-600">Happy <span class="text-brand">FashionFusion</span> Day. Big Sale Up to
                                40%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    
</body>



<!-- Preloader Start -->